.footer-container {
    display: block;
    /* background-image: url('../../../assets/footer.jpg');
    background-size: cover; */
    background: #1d1d1d;
}

.site-title {
    width: 80%;
    margin: 0 auto;
    line-height: 1;
    font-weight: 400;
    font-family: "Josefin Slab",serif;
    font-size: 4rem;
    letter-spacing: -4.3px;
    text-transform: uppercase;
    color: #dedede;
}

.footer-logo-copyright {
    padding: 40px 0 73px;
    text-align: center;
}

.footer-copyright{
    padding: 40px 0 73px;
}

#footer-section, #footer-copyright * {
    color: #ccc;
}
#footer-copyright * {
    font-size: 1rem;
    line-height: 1.4;
    font-style: italic;
}

#footer-copyright a:hover {
    text-decoration: underline;
}
#footer-section a {
    color: #6eb48c;
}
#footer-copyright a {
    color: #6eb48c;
}

.go-to-top-parent {
    width: 100%;
    height: auto;
    display: block;
    /* position: absolute; */
    left: 0;
    bottom: 17px;
    text-align: center;
    z-index: 10;
}

.go-to-top-parent a  {
    color: #fff;
}

.go-to-top-parent .mat-icon {
    font-size: 18px;
    z-index: 5;
    position: relative;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    line-height: 1;
    margin-bottom: 3px;
}

@media screen and (max-width: 599px) {
    .site-title {
        font-size: 3rem;
        letter-spacing: -2px;
    }
}
