<footer id="footer" class="footer-container">
    <div class="footer footer-content container">
        <div class="footer-logo-copyright">
            <div >
                <h1 class="site-title">TOKYO MANILA</h1>
            </div>
            <div id="footer-copyright">
                <p>@2020 - All Right Reserved</p>
            </div>
            <div class="go-to-top-parent">
                <a href="/index#body" class="go-to-top">
                    <span>
                        Back To Top
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>
