<div class="add-post-container">

    <h2>Add / Edit Post <span *ngIf="hasDraft" class="draft-warning">(Draft)</span></h2>
    <br />
    <form [formGroup]="postForm" class="add-form-container">
        <mat-form-field>
            <input matInput placeholder="Title" formControlName="title" (change)='createSlug()'>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Slug" formControlName="slug">
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="category" placeholder="Category">
                <mat-option *ngFor="let category of categories" [value]="category.title" >
                    {{ category.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="input-row">
            <!-- Textbox -->
            <mat-form-field>
                <input matInput placeholder="Featured Image" formControlName="image">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="openImageDialog()">Select Image</button>
        </div>

        <ckeditor [editor]="ckEditor" [config]="ckConfig" formControlName="content" id="editor" (ready)="onCkReady($event)">

        </ckeditor>


        <mat-form-field>
            <input matInput placeholder="Meta-Description" formControlName="metadesc">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Meta-Tags" formControlName="metatags">
        </mat-form-field>

        <mat-checkbox formControlName="featured">Featured?</mat-checkbox>

        <div class="actions">
            <button mat-raised-button color="primary" (click)="addPost()" [disabled]="!postForm.valid" *ngIf='!postId'>Add Post</button>
            <button mat-raised-button (click)="saveDraft()" [disabled]="!postForm.valid" *ngIf='postId'>Save Draft</button>
            <button mat-raised-button color="primary" (click)="editPost()" [disabled]="!postForm.valid" *ngIf='postId'>Publish</button>
        </div>

    </form>
</div>
