
h2 {
    text-align: center;
}

.draft-warning {
    color: blue;
}

.add-form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.add-form-container button {
    width: 8rem;
    align-self: flex-end;
    margin: 20px 0 30px 0;
}

.textarea-field {
    position: absolute;
    left: 10000px;
    visibility: hidden;
}

.input-row {
    display:flex;
    align-items: center;
}
.input-row .mat-form-field {
    flex: 1;
    margin-right: 10px;
}

.actions {
    align-self: flex-end;
}
.actions .mat-raised-button {
    margin-left: 1rem;
}

#editor {
    margin-bottom: 20px;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 200px;
    max-height: 600px;
}

:host ::ng-deep .cdk-overlay-pane {
    margin: 0 auto;
}
