:host ::ng-deep .widget {
    margin-bottom: 30px;
    word-wrap: break-word;
    padding: 0 30px;
    border-bottom: 1px solid #dedede;
}

:host ::ng-deep .widget-title {
    margin: 0 0 40px;
    padding: 30px 0 0;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
    font-family: "Lora",serif;
}

:host ::ng-deep .widget-title::before {
    content: '';
    width: 40px;
    background:
    #b0814e;
    height: 1px;
    position: absolute;
    bottom: -10px;
}
