.comment-form {
    border-top: 1px solid #dedede;
    margin-top: 50px;
    padding: 30px 0;
}

.mat-form-field {
    width: 100%;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul > li {
    margin-bottom: 20px;
}

textarea {
    height: 100px;
}

.avatar {
    margin-right: 20px;
}

.avatar img {
    height: 3rem;
    width: 3rem;
}

.username .display-name {
    font-weight: 700;
    margin-right: 10px
}

.username .display-time {
    font-weight: 400;
    font-size: 0.8rem;
}

.mat-raised-button {
    margin-left: 20px;
}

.sign-in-guide {
    padding-top: 5px;
}
.google-icon,
.facebook-icon {
    vertical-align: inherit;
}

.google-icon {
    color: #dd4b39;
}
.facebook-icon {
    color: #3b5998;
}


/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 599px) {
    .mat-raised-button {
        margin-left: 10px;
        padding: 0 10px;
    }
}
