<div class="comment-form">
    <form [formGroup]="postForm" class="add-form-container">
        <mat-form-field appearance="outline">
            <textarea row="4" matInput placeholder="Comment" formControlName="comment"></textarea>
        </mat-form-field>
    </form>
    <div class="actions" fxLayout fxLayoutAlign="end">
        <button mat-raised-button (click)="afSvc.loginWithGoogle()" *ngIf='!user'>
            <mat-icon fontSet="fa" fontIcon="fa-google" class="google-icon"></mat-icon>
            <span >Google</span>
        </button>
        <button mat-raised-button (click)="loginFb()" *ngIf='!user'>
            <mat-icon fontSet="fa" fontIcon="fa-facebook-f" class="facebook-icon"></mat-icon>
            <span >Facebook</span>
        </button>
        <button mat-raised-button color="primary" (click)="addComment()" [disabled]="!postForm.valid" *ngIf='user'>Add Comment</button>
    </div>
</div>
<div class="comment-list">
    <ul class="post-comment">
        <li class="post-comment-item" *ngFor="let comment of comments">
            <div class="post-comment-container" fxLayout="row">
                <div class="avatar">
                    <img [src]="comment.photoURL" alt="avatar">
                </div>
                <div class="comment-body" fxLayout="column">
                    <div class="username">
                        <span class="display-name">{{ comment.displayName }}</span>
                        <span class="display-time">{{ comment.create_date | fromNow }}</span>
                    </div>
                    <div class="comment-content">
                        {{comment.content}}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
