<h2 mat-dialog-title>Please confirm</h2>
<mat-dialog-content>
    <p>Are you sure?</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close="true">Yes</button>
    <button mat-raised-button mat-dialog-close="false">Cancel</button>
</mat-dialog-actions>
