<div *ngIf="user">

    <span *ngIf="showName" [matMenuTriggerFor]="menu">{{ user.displayName }}</span>
    <button mat-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
        <img [src]="user.photoURL" class="profile-img">
    </button>

    <mat-menu #menu="matMenu" x-position="after" y-position="below" overlapTrigger="false">
        <button mat-menu-item disabled>
            <mat-icon>account_circle</mat-icon>
            <span>Account</span>
        </button>
        <button mat-menu-item *ngIf="user && user.roles.admin">
            <mat-icon>settings_applications</mat-icon>
            <a href="/admin"><span>Admin</span></a>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sign Out</span>
        </button>
    </mat-menu>
</div>
<div *ngIf="!user">
    <span [matMenuTriggerFor]="loginMenu">Sign In</span>
    <mat-menu #loginMenu="matMenu" x-position="after" y-position="below" overlapTrigger="false">
        <button mat-menu-item (click)="afSvc.loginWithGoogle()">
            <mat-icon fontSet="fa" fontIcon="fa-google" class="google-icon"></mat-icon>
            <span >Google</span>
        </button>
        <button mat-menu-item (click)="afSvc.loginWithFacebook()">
            <mat-icon fontSet="fa" fontIcon="fa-facebook-f" class="facebook-icon"></mat-icon>
            <span >Facebook</span>
        </button>
    </mat-menu>
</div>
