span {
    font-family: "Lora",serif;
    font-weight: 700;
    line-height: 2.58;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.profile-img {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    display: inline-block;
}
.google-icon {
    color:#d34836;
}
.facebook-icon {
    color:#3b5998;
}
.mat-menu-item .mat-icon.google-icon,
.mat-menu-item .mat-icon.facebook-icon {
    vertical-align: baseline;
}
.menu-icon.mat-icon {
    margin-right: 10px;
}
