<h2>Image Management Page</h2>
<br>
<div class="action">
    <button mat-raised-button color="primary" (click)="openDialog()">Add New Image</button>
</div>
<div class="image-list">
    <app-image-list (selectedImage)='selectImage($event)'></app-image-list>
</div>
