
<app-navbar (toggle)="drawer.toggle()"></app-navbar>
<mat-drawer-container class="app-container" >
    <mat-drawer #drawer class="app-sidenav" mode="side" opened="true">
      <mat-nav-list>
        <mat-list-item *ngFor="let link of links">
            <a matLine [routerLink]="link.link">{{ link.name }}</a>
         </mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <div class="app-sidenav-content">
        <div class="app-wrapper-inner-content">
            <div class="app-sidenav-inner-content">
                <app-previous></app-previous>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

</mat-drawer-container>
