.app-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.app-sidenav-content {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
}
.app-wrapper-inner-content {
    flex: 1;
    padding: 1rem 3rem;
    display: flex;
}
.app-sidenav-inner-content {
    flex: 1;
    padding: 20px;
}

.app-sidenav {
    padding: 20px;
}
.drawer-button {
    flex: 1;
    align-self: start;
}
