<div class="main-content container">
    <div class="site-content" id="primary" *ngIf="posts">

        <article class="post card post-content-wrapper" *ngFor="let post of posts">
            <div class="left-column">
                <img [src]="post.image" alt="">
            </div>

            <div class="right-column">
                <header class="entry-header">
                    <div class="entry-meta">
                        <span class="cat-links">
                            <span class="screen-reader-text">Categories </span>
                            <a routerLink="/index/{{post.category}}/{{post.slug}}" rel="category tag">{{ post.category }}</a>
                        </span>
                    </div>
                    <h2 class="entry-title"><a routerLink="/index/{{post.category}}/{{post.slug}}" rel="bookmark">{{ post.title }}</a>
                    </h2>
                </header>
                <div class="entry-content" [innerHtml]="post.description">
                </div>
                <div class="entry-meta">
                    <span class="posted-on">
                        <mat-icon fontSet="fa" fontIcon="fa-clock-o"></mat-icon>
                        <a routerLink="/index/{{post.category}}/{{post.slug}}" rel="bookmark">
                            <time class="updated entry-date published">{{post.update_date?.seconds * 1000 | date}}</time>
                        </a>
                    </span>
                </div>
            </div>
        </article>

        <div class="prev-next-nav" fxLayout="row" fxLayoutAlign="start stretch">
            <button mat-button (click)="previous()" *ngIf="this.prevRef.length > 0">
                <span class="prev" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>chevron_left</mat-icon>
                    <span>Previous</span>
                </span>
            </button>
            <span fxFlex></span>
            <button mat-button (click)="next()" *ngIf="posts.length >= limit">
                <span class="next" fxLayoutAlign="start center">
                    <span fxFlex>Next</span>
                    <mat-icon fxFlex>chevron_right</mat-icon>
                </span>
            </button>
        </div>
    </div>
    <app-sidebar class="sidebar-content"></app-sidebar>
</div>
