
/************* For the contents ***********/
.site-content article {
    border-bottom: 1px solid #dedede;
    padding: 30px 0;
}

.post-content-wrapper {
    display: flex;
    padding: 30px 0 10px 0;
}

.post-content-wrapper > * {
    flex: 1;
}

.left-column {
    margin-right: 10px;
    align-self: center;
}
.left-column img {
    margin: 10px;
    border-radius: 10px;
}

.right-column {
    padding: 20px;
}

.entry-meta .cat-links {
    font-style: normal;
    text-transform: uppercase;
    line-height: 3;
}

.entry-meta .cat-links a, .entry-meta .by-author a {
    color: #b0814e;
}

.entry-meta .mat-icon {
    color: #888;
}

.right-column .entry-title:before {
    content: '';
    width: 40px;
    background: #111;
    height: 1px;
    position: absolute;
    bottom: -14px;
}

.entry-content {
    margin-top: 36px;
    margin-bottom: 14px;
    word-wrap: break-word;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 599px) {
    .right-column  {
        padding: 0;
    }
}


/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 959px) {
    .post-content-wrapper {
        display: block;
    }
}
