<div class="comment-table-container mat-elevation-z8">
    <h2>Comment Management Page</h2>
    <br>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort>

        <!-- User Column -->
        <ng-container matColumnDef="user" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.displayName }}</mat-cell>
        </ng-container>

        <!-- Comment Column -->
        <ng-container matColumnDef="content" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Comment</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a routerLink='{{element.id}}'>{{element.content}}</a>
            </mat-cell>
        </ng-container>

        <!-- Create Column -->
        <ng-container matColumnDef="date" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Create Date</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.create_date?.seconds * 1000 | date }} </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions" >
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteComment(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
