<mat-toolbar>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.gt-sm>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon class="menu-icon">menu</mat-icon>
            <span>Menu</span>
        </button>
        <span class="spacer"></span>
        <app-login></app-login>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.sm fxHide.xs>
        <mat-toolbar-row>
            <div class='nav-link home-icon'>
                <mat-icon routerLink="/">home</mat-icon>
            </div>

            <div class='nav-link' *ngFor="let category of categoryList">
                <button mat-button routerLink="/index/{{category.title}}">{{category.title}}</button>
            </div>

            <span class="spacer"></span>
            <app-login></app-login>

        </mat-toolbar-row>
    </div>
</mat-toolbar>
