.mat-toolbar-row {
    padding: 0;
}
.mat-button {
    font-family: "Lora",serif;
}
.home-icon .mat-icon {
    cursor: pointer;
    vertical-align: text-bottom;
}
.spacer {
    flex: 1 1 auto;
}
.example-icon {
    padding: 0 0.9rem;
}
.profile-img {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
}
.mat-button {
    display: block;
    text-decoration: none;
    font-weight: 700;
    line-height: 2.58;
    color: #111;
    text-transform: uppercase;
    font-size: 14px;
}
.nav-link {
    padding: 12px 12px 12px 0;
}

.google-icon {
    color:#dd4b39;
}
.facebook-icon {
    color:#3b5998;
}
.mat-menu-item .mat-icon.google-icon,
.mat-menu-item .mat-icon.facebook-icon {
    vertical-align: baseline;
}

.menu-icon.mat-icon {
    margin-right: 10px;
}
