.widget img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
}

.widget .finance-about img {
    border-radius: 0;
}

.textwidget {
    text-align: center;
}
