<div class="widget">
    <h2 class="widget-title">About me</h2>
    <div class="textwidget personal-about" *ngIf='category != "finance"'>
        <p>
            <img src="./../../../../assets/about2.jpg">
        </p>
        <p>
            I live in Tokyo, sometimes in Manila. Join me as I write about the interesting things I found living in two cities.
        </p>
    </div>
    <div class="textwidget finance-about" *ngIf='category == "finance"'>
        <p>
            <img src="./../../../../assets/wall-street-bull.png">
        </p>
        <p >
            Traded for over 10 years before I finally realized, the way to reach 1M in the stock market is to start with 2M.
            <br/>
            Mainly a value investor but I also have a small fund for short-term trading strategies.
            Join me in my quest to be a profitable trader. I might not get rich, but I'm not surrendering either.
        </p>
    </div>
</div>
