<div class="back">
    <button mat-button (click)="location.back()">
        <span class="prev" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>chevron_left</mat-icon>
            <span>Previous</span>
        </span>
    </button>
</div>
