.menu-table-container {
    padding: 10px;
}
.mat-form-field, .mat-select {
    margin-right: 1rem;
}
.mat-column-actions {
    justify-content: flex-end;
}
.post-table-container {
    padding: 20px;
}
.mat-header-title,
.mat-column-title {
    flex: 3;
}

h2 {
    text-align: center;
}
