<div class="post-table-container mat-elevation-z8">
    <h2>Post Management Page</h2>
    <br>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <a routerLink='/admin/posts/0'>
        <button mat-raised-button color="primary">Add New</button>
    </a>


    <mat-table [dataSource]="dataSource" matSort>

        <!-- Title Column -->
        <ng-container matColumnDef="title" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>TITLE</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a routerLink='/admin/posts/{{element.id}}'>{{element.title}}</a>
            </mat-cell>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>CATEGORY</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
        </ng-container>

        <!-- Timestamp Column -->
        <ng-container matColumnDef="date" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>UPDATED</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.update_date?.seconds * 1000 | date }} </mat-cell>
        </ng-container>

        <!-- Number of Views Column -->
        <ng-container matColumnDef="views" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Views</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.views }} </mat-cell>
        </ng-container>


        <!-- Actions Column -->
        <ng-container matColumnDef="actions" >
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a routerLink='/admin/posts/{{element.id}}'>
                    <button mat-icon-button color="primary" matTooltip="Edit Post">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                </a>
                <a routerLink='/admin/comments/{{element.id}}'>
                    <button mat-icon-button color="secondary" matTooltip="View Comments">
                        <mat-icon>mode_comment</mat-icon>
                    </button>
                </a>
                <button mat-icon-button color="warn"  matTooltip="Delete" (click)="openDialog(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 25]"></mat-paginator>
</div>
