

/**************************************************
* HEADER
**************************************************/

.site {
    overflow: hidden;
    position: relative;
}
.site-header {
    margin-bottom: 0;
    border-bottom: none;
}
.site-branding {
    text-align: center;
    margin: 59px auto 54px;
}
.site-title {
    width: 80%;
    margin: 0 auto;
    line-height: 1;
    font-weight: 400;
    font-family: "Josefin Slab",serif;
    font-size: 72px;
    letter-spacing: -4.3px;
    text-transform: uppercase;
}
.site-title a {
    word-wrap: break-word;
    color: #111;
    text-decoration: none;
}
.site-title a:visited, .site-title a:active {
    color: #111;
}
.site-title a:visited,
.site-title a:hover,
.site-title a:active,
.site-title a:focus {
    outline: none;
    text-decoration: none;
}
.site-description {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 18px;
    margin-top: -1px;
}
.site-description:after,
.site-description:before {
    content: '';
    position: relative;
    height: 1px;
    width: 20px;
    left: -26px;
    background: #b0814e;

}
.site-description:after {
    left: unset;
    right: -26px;
}
.site-description p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.header-content {
    border: 1px solid #dedede;
    border-left: none;
    border-right: none;
    width: 100%;
    top: 0;
    background: #f5f5f5;
    position: relative;
    z-index: 999;
}
.header-content-container {
    display: flex;
    padding: 0;
    position: relative;
}
.header-content-container > * {
    flex: 1;
}
.tokyo {
    color: #f4333d;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and  (max-width: 599px) {
    .site-title {
        font-size: 2.5rem;
        letter-spacing: -2px;
    }

    .site-description {
        font-size: 0.9rem;
    }
    .site-description:after,
    .site-description:before {
        left: -10px;

    }
    .site-description:after {
        left: unset;
        right: -10px;
    }
    .site-branding {
        margin: 20px auto 20px;
        padding: 5px;
    }
    .site-description:after,
    .site-description:before {
        width: 15px;
    }
}

/* medium devices (landscape phones, 768px and up) */
@media screen and  (min-width: 600px) and (max-width: 959px)  {
    .site-title {
        font-size: 4rem;
        letter-spacing: -2px;
    }
}
