<header id="masthead" class="site-header">
    <div class="site-branding container">
        <h1 class="site-title">
            <a href="/" rel="home"><span class="tokyo">TOKYO</span> MANILA</a>
        </h1>
        <p class="site-description">
            Two Worlds, One Epic Adventure
        </p>
    </div>
    <div class="header-content">
        <div class="header-content-container container">
            <app-navbar (sidenavToggle)="onToggleSidenav()"></app-navbar>
        </div>
    </div>
</header>
