

<div id="page" class="site" name="site">
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="over">
            <!--this is a place for us to add side-nav code-->
            <mat-nav-list>
                <a mat-list-item routerLink="/index" (click)="sidenav.close()">
                    <mat-icon class="home-icon">home</mat-icon> Home
                </a>

                <a mat-list-item routerLink="/index/{{category.title}}" (click)="sidenav.close()" *ngFor="let category of categoryList">
                    <span class="nav-caption">{{category.title}}</span>
                </a>
            </mat-nav-list>

        </mat-sidenav>
        <mat-sidenav-content>
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
            <main>
                <router-outlet></router-outlet>
                <app-footer></app-footer>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
