
.mat-sidenav {
    background: #282828;
}
.home-icon {
    margin-top: -3px;
    margin-right: 5px;
}
.mat-sidenav .mat-nav-list a {
    border-bottom: 1px solid rgba(255,255,255,.05);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(255,255,255,.4);
    background: #282828;
    font-size: 1rem;
    padding: 5px 10px;
    font-family: "Lora",serif;
}

.mat-sidenav .mat-nav-list a:focus,
.mat-sidenav .mat-nav-list a:visited,
.mat-sidenav .mat-nav-list a:active {
    color: rgba(255,255,255,.4);
}
.mat-sidenav .mat-nav-list a:hover,
.mat-sidenav .mat-nav-list > a:hover {
    color: #fff;
}


/********************************************
* Site Content Area
*********************************************/
.main-content {
    display: flex;
    flex-flow: row wrap;
    margin-top: 4rem;
    padding-bottom: 118px;
    padding: 0 10px 120px 10px;
}
.site-content {
    flex: 2;
    margin-right: 20px;
    border: 1px solid #dedede;
}


.entry-content figure.table table {
    border-collapse: collapse !important;
    text-align: center;
}

.entry-content figure.table table td {
    border: 1px solid lightgrey;
    padding: 5px 10px;
}

.entry-content figure.table table tr:nth-child(1) td {
    background-color: aliceblue;
}

.entry-content blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}

.entry-content img {
    width: auto;
    height: auto;
    width: auto;
    object-fit: fill;
}

.entry-content .image img {
   max-width: 600px;
   max-height: 350px;
   margin: 0 auto;
}
.entry-content .image.image-style-align-right > img {
    float: right;
    width: 50%;
}

.entry-content .image.image-style-align-left > img {
    float: left;
    width: 50%;
}

.entry-content figcaption {
    font-size: smaller;
    text-align: center;
}

.entry-content pre {
    padding: 1em;
    color: #353535;
    background: hsla(0,0%,78%,.3);
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    text-align: left;
    direction: ltr;
    tab-size: 4;
    white-space: pre-wrap;
    font-style: normal;
    min-width: 200px;
    position: relative;
}

.entry-content pre::after {
    top: -1px;
    right: 10px;
    background: #757575;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16px;
    padding: 10px;
    color: #fff;
    white-space: nowrap;
}
.entry-content pre::after {
    content: "text/code";
    position: absolute;
}

.entry-content a {
    text-decoration: underline;
}


/************* For the sidebar ***********/
.sidebar-content {
    flex: 1;
    border: 1px solid #dedede;
}


/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 959px) {
    .main-content {
        margin-top: 0;
        display: block;
    }

    .site-content {
        margin: 0;
        border: 0;
    }

    .entry-content figure.table {
        margin-inline-start: 5px;
        margin-inline-end: 5px;
    }
}
