<mat-toolbar color="primary">
    <mat-toolbar-row>

      <button class="drawer-button" type="button" mat-button (click)="toggler()">
         <i class="material-icons">menu</i>
      </button>
      <button mat-button routerLink="/">Home</button>
      <span class="spacer"></span>

      <app-login></app-login>
    </mat-toolbar-row>
</mat-toolbar>
