.single-page .site-content {
    padding: 20px;
}

.entry-header {
    text-align: center;
    margin-bottom: 20px;
}

.entry-meta .cat-links a {
    color: #b0814e;
}

.entry-meta .entry-date,
.entry-meta .mat-icon {
    color: #888;
    text-transform: none;
}

.header-image img {
    max-height: 350px;
    max-width: 700px;
    object-fit: fill;
    margin: 0 auto;
}

.by,
.author,
.separator {
    color: #888;
}
