<div class="main-content container single-page" *ngIf="post">
    <div class="site-content" id="primary">
        <article class="post card post-content-wrapper">


            <header class="entry-header">

                <div class="entry-meta">
                    <span class="cat-links">
                        <span class="screen-reader-text">Categories </span>
                        <a href="index/{{post.category}}/{{post.slug}}" rel="category tag">{{ post.category }}</a>
                    </span>
                </div>
                <h2 class="entry-title"><a href="index/{{post.category}}/{{post.slug}}" rel="bookmark">{{ post.title }}</a>
                </h2>

                <div class="entry-meta">
                    <span class="by">by</span>
                    <span class="author">{{ post.author }}</span>
                    <span class="separator">/</span>
                    <span class="posted-on">
                        <a href="index/{{post.category}}/{{post.slug}}" rel="bookmark">
                            <time class="entry-date updated published">{{post.update_date?.seconds * 1000 | date}}</time>
                        </a>
                    </span>
                </div>

            </header>

            <div class="header-image">
                <img [src]="post.image" alt="">
            </div>
            <br />

            <div class="entry-content" [innerHtml]="post.content">
            </div>

        </article>
        <app-comments [pageId]="data.id" ></app-comments>
    </div>
    <app-sidebar class="sidebar-content"></app-sidebar>
</div>
