
<div class="widget">
    <h2 class="widget-title">Popular Posts</h2>
    <div class="textwidget">
        <ul>
            <li *ngFor="let post of posts">
                <a routerLink='/index/{{post.category}}/{{post.slug}}'>{{post.title}}</a>
            </li>
        </ul>
    </div>
</div>
