/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import 'font-awesome/css/font-awesome.css';

html, body
{
    height: 100%;
    font: normal normal normal 14px/1.93 "Lora",serif;
    color: #111;
}

body {
    margin: 0;
    padding: 0;
}

.mat-drawer {
    min-width: 250px
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}


/**************************************************
* Common
**************************************************/
body, button, input, select, textarea {
    font: normal normal normal 14px/1.93 "Lora",serif;
    text-align: left;
    color: #111;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather',serif;
    font-weight: 400;
    line-height: 1.2;
    color: #212121;
}


.entry-meta {
    font-size: .76rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
}

.entry-meta a {
    color: #888;
}

.entry-title {
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 0;
    margin-top: 1rem;
    position: relative;
    color: #111;
    word-wrap: break-word;
}

.entry-title a {
    color: #111;
}

.entry-title a:hover {
    color: #b0814e;
}

.by,
.author,
.separator {
    text-transform: none;
}

.by {
    font-style: italic;
    margin-right: 5px;
}

.separator {
    margin: 0 5px;
}



a {
    /* color: #888; */
    text-decoration: none;
    transition: all .3s;
}
a:visited, a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
}
/* a:visited, a:active, a:focus {
    color: inherit;
} */

.screen-reader-text {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important;
}

img {
    width: 100%;
    /* height: 100%; */
    display: block;
    object-fit: cover;
}

@media screen and  (max-width: 599px) {
    img {
        height: auto;
    }

}
