
<div class="add-menu-container">
    <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="menuDetails.title">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="URL" [(ngModel)]="menuDetails.url">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addMenu()">Add Menu</button>
</div>

<div class="menu-table-container mat-elevation-z8">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> TITLE </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>

        <!-- URL Column -->
        <ng-container matColumnDef="url" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> URL </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.url}} </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions" >
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="openEditDialog(element.id, element.title, element.url)">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="openDialog(element.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
            </mat-cell>


        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
