<div class="widget">
    <h2 class="widget-title">Latest Posts</h2>
    <div class="textwidget">
        <ul>
            <li>The key of Branding</li>
            <li>Digital Marketing 101</li>
            <li>Feedback for App</li>
        </ul>
    </div>
</div>
