<h2 mat-dialog-title>File Uploader</h2>
<mat-dialog-content>

        <div class="dropzone"  appDropzone (hovered)="toggleHover($event)" (dropped)="upload($event)"
            [class.hovering]="isHovering">

            <div class="file">
                <label class="file-label">
                    <button type="button" mat-raised-button (click)="imgFileInput.click()">Add a photo</button>
                    <input hidden type="file" accept=".png,.jpg" #imgFileInput (change)="upload($event.target.files)" />
                </label>
            </div>
        </div>

        <div *ngIf="percentage | async as pct">
            <progress class="progress is-info"  [value]="pct" max="100"></progress>
            {{ pct | number }}%
        </div>

    <div *ngIf="snapshot | async as snap">
        {{ snap.bytesTransferred }} of {{ snap.totalBytes }}

        <div class="result" *ngIf="downloadURL | async as uploadSrc">
            <img [src]="uploadSrc"><br>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button  [mat-dialog-close]="downloadURL">Yes</button>
    <button mat-raised-button mat-dialog-close="false">Cancel</button>
</mat-dialog-actions>
