

<main class="site-main">
    <!-- <div class="featured-posts container" *ngIf="bigFeature">
        <div class="featured-posts-big">
            <a href="#">
                <img [src]="bigFeature.image" alt="">
                <div class="featured-posts-text-wrapper">
                    <div class="featured-posts-text">
                        <div class="entry-meta">
                            <div class="categories" [innerHtml]="bigFeature.category"></div>
                        </div>
                        <h3 class="entry-title" [innerHtml]="bigFeature.title"></h3>
                        <div class="entry-meta posted-on">
                            <span class="by">by</span><span class="author">Jasper Rebong</span><span class="separator"> / </span>
                            <time class="entry-date published">{{bigFeature.update_date?.seconds * 1000 | date}}</time>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="featured-posts-small">
            <div class="featured-posts-small-container" *ngFor="let feature of smallFeature">
                <a href="#">
                        <img [src]="feature.image" alt="">
                        <div class="featured-posts-text-wrapper">
                            <div class="featured-posts-text">
                                <div class="entry-meta">
                                    <div class="categories" [innerHtml]="feature.category"></div>
                                </div>
                                <h3 class="entry-title" [innerHtml]="feature.title"></h3>
                                <div class="entry-meta posted-on">
                                    <span class="by">by</span><span class="author">Jasper Rebong</span><span class="separator">/</span>&nbsp;
                                    <time class="entry-date published">{{feature.update_date?.seconds * 1000 | date}}</time>
                                </div>
                            </div>
                        </div>
                    </a>
            </div>
        </div>
    </div> -->
    <app-pages-list></app-pages-list>
</main>
