

/********************************************
* Featured Posts Area
*********************************************/
.featured-posts {
    display: flex;
    margin-bottom: 3rem;
    height: 480px;
    padding: 10px;
    text-align: center;
    flex-flow: row wrap;
}
.featured-posts a:hover {
    opacity: .8;
}
.featured-posts-big {
    flex: 2;
    position: relative;
    margin-right: 20px;
}
.featured-posts-small {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.featured-posts-small-container {
    flex: 0 1 49%;
    position: relative;
}

.featured-posts-text-wrapper {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-posts-text {
    background: rgba(0,0,0,.3);
    padding: 20px;
}

.featured-posts .entry-title {
    color: #fff;
}

.featured-posts .categories {
    color: #fff;
    border: 1px solid #fff;
    padding: 4px 6px;
}
.featured-posts .entry-meta {
    justify-content: center;
    align-items: center;
    display: flex;
}

.featured-posts-big .entry-title {
    margin-top: 11px;
    color: #fff;
    font-size: 3rem;
    margin-top: 16px;
    margin-bottom: 18px;
}
.featured-posts-small .entry-title {
    font-size: 1.4rem;
}


/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 959px) {
    .featured-posts {
        display: block;
        height: auto;
        margin-bottom: 0;
    }

    .featured-posts-big {
        display: block;
        margin: 0 0 20px 0;
    }

    .featured-posts-small {
        display: block;
        margin: 0 0 20px 0;
    }

    .featured-posts-big .entry-meta,
    .featured-posts-small .entry-meta {
        visibility: hidden;
    }

    .featured-posts-small-container {
        display: block;
        margin-bottom: 20px;
    }

    .featured-posts-big .entry-title,
    .featured-posts-small .entry-title {
        font-size: 1.7rem;
    }

    .featured-posts-text {
        padding: 0 20px;
    }
}
