<h2>Edit Category</h2>
<br>
<h2 mat-dialog-title>Edit</h2>
<mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="data.title">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Order" [(ngModel)]="data.order">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="data">Yes</button>
    <button mat-raised-button mat-dialog-close="false">Cancel</button>
</mat-dialog-actions>
