<div class="image-list-back"><mat-icon (click)="openFolder(parentFolder.fullPath)" *ngIf="parentFolder">arrow_back</mat-icon></div>

<div class="image-list-main-container">
    <div *ngFor="let folder of folders" class='folder-wrapper'>
        <div class='folder-content'>
            <mat-icon (click)="openFolder(folder.fullPath)">folder</mat-icon>
            <div class="folder-name">{{folder.name}}</div>
        </div>
    </div>

    <div *ngFor="let image of images" class='image-wrapper'>
        <div class='image-content'>
            <div class="result" (click)='selectImage(image.downloadUrl)'>
                <img [src]="image.downloadUrl"><br>
            </div>
            <div class="image-name">{{image.name}}</div>
        </div>
    </div>
</div>
