.image-list-back {
    cursor: pointer;
    margin-top: 20px;
}

.image-list-main-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.image-wrapper,
.folder-wrapper {
    cursor: pointer;
    height: 150px;
    width: 150px;
    max-width: 150px;
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.image-wrapper:hover,
.folder-wrapper:hover {
    opacity: 0.8;
    border: 1px solid #3e3e3e;
}

.folder-content .mat-icon {
    font-size: 5rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.folder-content .folder-name {
    text-align: center;
}

.image-content  img {
    width: 150px;
    height: 150px;
}

.image-content .image-name {
    overflow-wrap: break-word;
}
